<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fany.fragments" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividad1"
            android:label="@string/title_activity_actividad1" >
        </activity>
        <activity
            android:name=".Intents_Act_01"
            android:label="@string/title_activity_intents__act_01" >
        </activity>
        <activity
            android:name=".Intents_Act_01_b"
            android:label="@string/title_activity_intents__act_02"
            android:parentActivityName=".Intents_Act_01" >
        </activity>
        <activity
            android:name=".Intents_Act_02"
            android:label="@string/title_activity_intents__act_02" >
        </activity>
        <activity
            android:name=".Intents_Act_02_b"
            android:label="@string/title_activity_intents__act_02_b" >
        </activity>
        <activity
            android:name=".Intents_Act_03"
            android:label="@string/title_activity_intents__act_03" >
        </activity>
        <activity
            android:name=".Intents_Act_03_b"
            android:label="@string/title_activity_intents__act_03_b" >
        </activity>
        <activity
            android:name=".CicloDeVida"
            android:label="@string/title_activity_ciclo_de_vida" >
        </activity>
        <activity
            android:name=".Pulsame"
            android:label="@string/title_activity_pulsame" >
        </activity>
        <activity
            android:name=".ImplicitIntents"
            android:label="@string/title_activity_implicit_intents" >
        </activity>

        <receiver
            android:name=".MyReciver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.fany.fragments.CUSTOM_INTENT" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".BroadcastReceiver"
            android:label="@string/title_activity_broadcast_reciver" >
        </activity>
    </application>

</manifest>
